h1 {
  font-size:30px;
}

h2 {
  font-size:24px;
}

h1 {
  font-size:30px;
}

.align-left {
  text-align:left !important;
}

.align-center {
  text-align:center !important;
}

.align-right {
  text-align:right !important;
}

.table td,
.table th {
  vertical-align:middle !important;
  font-size:14px;
}

.table th {
  text-align:center;
}

.table strong,
.table small {
  display:block;
}

.table img {
  display:block;
  width:28px;
  margin:0px auto;
}